main{
    height: auto;
    width: 100%;
}

#container{
    background-color: black;
    height: 45em;
    width: 100%;
    display: flex;
}

.terrain{
    margin-left: 25em;
    background-color:green;
    height: 95%;
    width: 30%;
    border: 2px solid white;
}

.haut{
    border-bottom: 2px solid white;
    width: 100%;
    height: 50%;
}

.form{
    background-color: gray;
    width: 20em;
    height: 30em;
    border-radius: 5%;
}
h4{
    text-align: center;
}
input{
    width:  50%;
   margin-bottom: 15px;

}
label{
    display: block;
    
}
.bouton{
    margin-top: 40px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    min-width: 250px;
}
.bu{
    margin-top: 15px;
    background-color: gray;
}
.btnJoueur{
    width: 100%;
}
